<section>
  <article>
    <h1>{{paper_detail.title}}</h1>

    <h2>authors</h2>
    <ul>
      {% for author in paper_detail.authors %}
      <li>{{author.name}}</li>
      {% endfor %}
    </ul>

    <h2>abstract</h2>
    <p>{{ paper_detail.abstract_field }}</p>

    <div id="accordion-collapse" data-accordion="open">
      <h2 id="reference-accordion-collapse">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-sm focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
          data-accordion-target="#reference-accordion-collapse-body"
          aria-expanded="true"
          aria-controls="reference-accordion-collapse-body"
          hx-get="/x/paper/{{paper_detail.paper_id}}/references"
          hx-target="#reference-accordion-collapse-body"
          hx-swap="innerHTML"
        >
          <span>references ({{paper_detail.reference_count}})</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" > <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" /> </svg>
        </button>
      </h2>
      <div
        class="p-5 border border-gray-200 dark:border-gray-700 overflow-x-auto max-w-full"
        aria-labelledby="reference-accordion-collapse"
      >
        <div id="reference-accordion-collapse-body"></div>
      </div>
      <h2 id="citation-accordion-collapse">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
          data-accordion-target="#citation-accordion-collapse-body"
          aria-expanded="false"
          aria-controls="citation-accordion-collapse-body"
           hx-get="/x/paper/{{paper_detail.paper_id}}/citations"
          hx-target="#citation-accordion-collapse-body"
          hx-swap="innerHTML"
        >
          <span>citations ({{paper_detail.citation_count}})</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" > <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" /> </svg>
        </button>
      </h2>
      <div
        aria-labelledby="citation-accordion-collapse"
        class="p-5 border border-gray-200 dark:border-gray-700 overflow-x-auto max-w-full"
      >
        <div id="citation-accordion-collapse-body"></div>
      </div>
    </div>
  </article>
</section>
